/* Calendar.css */
.calendar-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ecf0f1;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  text-align: center;
  color: #2c3e50;
}

/* Styling for react-calendar */
.react-calendar {
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.react-calendar__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3498db; /* Blue Background */
  color: #fff; /* White Text Color */
  padding: 10px;
}

.react-calendar__tile--active {
  background-color: #3498db;
  color: #fff;
}

.react-calendar__month-view__days__day {
  color: #333;
}

.react-calendar__tile--now {
  background-color: #3498db;
  color: #fff;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled.react-calendar__tile--active,
.react-calendar__tile--now.react-calendar__tile--active:hover {
  background-color: #2183b0;
}

.react-calendar__tile--active.react-calendar__tile--now {
  background-color: #1b4965;
}

.orders-for-date {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  color: #333;
}
